@font-face {
    font-family: 'Open-Sans';
    src: url('https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff');
    font-weight: normal;
}

@font-face {
    font-family: 'Open-Sans';
    src: url('https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff');
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open-Sans', sans-serif;
}

.header {
    background: #000;
    background: url("/images/banner-bg.jpg") center no-repeat;
    background-size: cover;
    position: relative;
    max-width: 100%;
    margin-bottom: 65px;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    opacity: 0.6;
    z-index: 1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-wrap {
    position: relative;
    z-index: 2;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 26px;
    padding-bottom: 91px;
}

.logo-icon {
    width: 180px;
    margin-left: 3px;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    text-transform: uppercase;
    margin-right: -33px;
}

.nav-item {
    padding-right: 34px
}

.nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-family: "Open Sans";
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
}

.header-title {
    padding-bottom: 118px;
}

.header-text {
    font-size: 50.455px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.667;
    text-align: center;
    -moz-transform: matrix( 0.89112658082951, -0.00117745656185, 0.00034460930939, 0.89189022727576, 0, 0);
    -webkit-transform: matrix( 0.89112658082951, -0.00117745656185, 0.00034460930939, 0.89189022727576, 0, 0);
    -ms-transform: matrix( 0.89112658082951, -0.00117745656185, 0.00034460930939, 0.89189022727576, 0, 0);
}

.category {
    text-align: center;
    margin-bottom: 30px;
}

.category-name {
    font-size: 20px;
    font-family: "Open Sans";
    color: rgb(15, 13, 14);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.458;
}

.category-name::after {
    content: '';
    background-color: rgb(181, 159, 91);
    opacity: 0.4;
    width: 67px;
    height: 3px;
    display: block;
    margin: 15px auto 0;
}

.trend {
    margin-bottom: 65px;
}

.trend-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.trend-img {
    flex: 1 1 calc(25% - 5px);
    margin-left: 5px;
}

.trend-img:first-child {
    margin-left: 0px;
}

.trend-img img {
    width: 100%;
}