@font-face {
    font-family: 'Open-Sans';
    src: url('https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff');
    font-weight: normal;
}

@font-face {
    font-family: 'Open-Sans';
    src: url('https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff');
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open-Sans', sans-serif;
}

.header {
    background: #000;
    background: url("images/banner-bg.jpg") center no-repeat;
    background: url("../images/banner-bg.jpg") center no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 65px;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    opacity: 0.6;
    z-index: 1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-wrap {
    position: relative;
    z-index: 2;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 26px;
    padding-bottom: 91px;
}

.logo-icon {
    width: 180px;
    margin-left: 3px;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    text-transform: uppercase;
    margin-right: -33px;
}

.nav-item {
    padding-right: 34px
}

.nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-family: "Open Sans";
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
}

.header-title {
    padding-bottom: 118px;
}

.header-text {
    font-size: 50.455px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.667;
    text-align: center;
}

.category {
    text-align: center;
    margin-bottom: 30px;
}

.category-name {
    font-size: 20px;
    font-family: "Open Sans";
    color: rgb(15, 13, 14);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.458;
}

.category-name::after {
    content: '';
    background-color: rgb(181, 159, 91);
    opacity: 0.4;
    width: 67px;
    height: 3px;
    display: block;
    margin: 15px auto 0;
}

.trend {
    display: flex;
    margin-bottom: 65px;
}

.trend-bg {
    background: #000;
    background: url('images/trend1.jpg') center center no-repeat;
    background: url('../images/trend1.jpg') center center no-repeat;
    background-size: cover;
    width: 25%;
    height: 320px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    padding: 0 24px 16px;
    margin-right: 5px;
    position: relative;
}

.trend-bg:last-child {
    margin-right: 0;
}

.trend-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    z-index: 1;
}

.ternd-content {
    width: 100%;
    height: 150px;
    padding: 40px 32px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(181, 159, 91);
    background-color: rgba(0, 0, 0, 0);
    opacity: 0.6;
}

.trend-wrap {
    position: relative;
    z-index: 2;
}

.trend-menu {}

.menu-list {
    display: flex;
    list-style: none;
}

.menu-item {
    margin-right: 20px;
}

.menu-link {
    text-decoration: none;
    font-size: 15.697px;
    font-family: "Open Sans";
    color: rgb(181, 159, 91);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.857;
}

.trent-text {}

.trend-link {
    font-size: 22.424px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-decoration: none;
}